body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #A8D5BA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.status-bar {
    display: flex;
    height: 5%;
    justify-content: space-between;
    padding: 10px;
    background-color: #519256;
}
.foto-cont{

    width: 100%;
    height: 100%;
    background-image: url(../img/boque.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);

}


.content img {
    width: 25rem;
    height: auto;
}
h1 {
    font-size: 24px;
    color: #000;
}
p {
    font-size: 16px;
    color: #555;
    text-align: center;
}
.button-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.button:hover {
    transform: translateX(10px);
}
.hidden {
    display: none;
}
@media (max-width: 2580px){
    .content{
        width: 100%;
        background-color: transparent;
        backdrop-filter: blur(0px);
        
    }
    h1{
        color: #ffffff;
    }
    p{
        color: #d4d4d4;
    }
}